* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    height: 100vh;
    background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.2)
            ),
            url("images/header-background.jpg") 
            no-repeat center right/cover;
    color: white;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

.circle {
    background: #1e40ff;
    padding: 8px 14px;
    border-radius: 50%;
    margin-right: 8px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active {
    color: white;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    max-width: 700px;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 14px 30px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.primary {
    background: #1e40ff;
    color: white;
    border: 1px solid #1e40ff;
}

.primary:hover {
    background: rgba(22, 45, 219, 0);
    border: 1px solid white;
}

.secondary {
    color: white;
}

.secondary:hover {
    color: #dddddd69;
}