* {
    text-decoration: none !important;
}

body {
    font-family: "Poppins", sans-serif;
}

img {
    width: 100%;
}

/* Navbar logo icon color */
.nav-logo {
    color: blue;
}

/* Navbar middle links */
.nav-mid-links li a {
    font-size: .95rem;
    font-weight: 500;
    transition: ease all .4s;
}

.nav-mid-links li a:hover {
    color: blue;
}

/* Navbar right side button */
.talk-btn {
    color: white;
    background-color: blue;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 600;
    transition: all .4s;
}

.talk-btn:hover {
    background-color: #0000ffb0;
}

/* Main left side container */
.intro-section .hello {
    color: blue;
    font-weight: 600;
    font-size: .8rem;
}

.intro-section h1 {
    font-size: 3rem;
    font-weight: 700;
    width: 70%;
}

.intro-section h1 .designer {
    color: blue;
}

.intro-section p {
    color: rgb(121, 121, 121);
    width: 70%;
    margin: 25px 0 50px;
}

.intro-section .work-btn {
    color: white;
    background-color: blue;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 50px;
    transition: all .4s;
}

.intro-section .work-btn i {
    margin-left: 10px;
}

.intro-section .work-btn:hover {
    background-color: #0000ffb0;
}

.intro-section .github-btn {
    color: black;
    border: 1px solid blue;
    font-weight: 600;
    padding: 14px 30px;
    border-radius: 50px;
    margin-left: 10px;
    transition: ease-in all .4s;
}

.intro-section .github-btn i {
    margin-right: 10px;
}

.intro-section .github-btn:hover {
    background-color: blue;
    color: white;
}

/* Main right side image container */
.card {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.308);
    animation: upDown 1s linear alternate infinite;
}

.card .icon {
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.card .content {
    line-height: 5px;
}

/* Animation to image container mini section */
@keyframes upDown {
    from {
        bottom: 60px;
    }
    to {
        bottom: 20px;
    }
}