:root {
    --primary: #b84914;
    --secondary: #fdf7f4;
    --text-gray: #9c958b;
    --text-semi-black: #4e3f37;
    --text-black: #1b120e;
    --noto-serif: "Noto Serif", serif;
    --noto-sans: "Noto Sans", sans-serif;
}

body {
    font-family: var(--noto-serif);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--secondary);
}

/* Start Header Element Style */
/* Pizza Icon Color */
.p-color {
    color: var(--primary);
    font-size: 35px;
}

/* Pizza Text Logo */
.h-logo {
    font-size: 30px;
    font-weight: 600;
}

.nav-item .nav-link {
    font-size: 18px;
    color: var(--text-black);
    transition: all ease .4s;
}

.nav-item .nav-link:hover {
    color: var(--text-semi-black);
}

.n-btn {
    background-color: var(--primary);
    font-size: 19px;
    padding: 13px 30px;
    letter-spacing: 2px;
    transition: all ease .4s;
}

.n-btn:hover {
    background-color: #e14c08;
}

/* Header Background Image */
.bg-img {
    background: url("images/banner.png") no-repeat scroll center center/cover;
    color: var(--secondary);
}

.p-y-axis {
    padding: 250px 0;
}

.p-y-axis h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 70px;
}

.p-y-axis p {
    font-size: 22px;
}
/* End Header Element Style */