:root {
    --primary: #b84914;
    --secondary: #fdf7f4;
    --text-gray: #9c958b;
    --text-semi-black: #4e3f37;
    --text-black: #1b120e;
    --noto-serif: "Noto Serif", serif;
    --noto-sans: "Noto Sans", sans-serif;
}

body {
    font-family: var(--noto-serif);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--secondary);
}

/* Start Header Element Style */
p {
    font-size: 20px;
}

.t-icon {
    color: var(--primary);
    font-size: 35px;
    position: relative;
    transform: rotate(180deg);
}

.t-icon2 {
    color: var(--primary);
    font-size: 35px;
}

.h-logo {
    font-size: 30px;
    font-weight: 600;
}

.nav-item .nav-link {
    font-size: 18px;
    color: var(--text-black);
    transition: all ease .4s;
}

.nav-item .nav-link:hover {
    color: var(--text-semi-black);
}

.n-btn {
    background-color: var(--primary);
    font-size: 19px;
    padding: 13px 30px;
    letter-spacing: 2px;
    transition: all ease .4s;
}

.n-btn:hover {
    background-color: #e14c08;
}

/* Header Background Image */
.bg-img {
    position: relative;
    background: url("images/banner.png") no-repeat scroll center center/cover;
    color: var(--secondary);
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.bg-img * {
    position: relative;
    z-index: 2;
}

.p-y-axis {
    padding: 220px 0;
}

.p-y-axis h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 70px;
}

.p-y-axis p {
    font-size: 22px;
}
/* End Header Element Style */





/* Start Main Element Style */
.section-py {
    padding: 100px 0;
}

/* Start Learn Section */
.learn-card .bg {
    background-color: #ff51000e;
    width: 60px;
    height: 60px;
}

.learn-card .bg span {
    font-size: 40px;
    color: var(--primary);
}

.learn-card .card-body h5 {
    font-size: 25px;
}

.border-1 {
    border: 1px solid #e14d0844;
    box-shadow: 0 10px 10px -5px #230c0118;
    transition: all ease .4s;
}

.border-1:hover {
    box-shadow: 0 10px 10px -5px var(--text-gray);
    background-color: var(--secondary);
    cursor: pointer;
}
/* End Learn Section */

/* Start History Section */
.l-height {
    line-height: 40px;
}
/* End History Section */

/* Start Feedback Section */
.avatar-img {
    width: 20%;
    height: 20%;
}

.avatar-img img {
    width: 100%;
    border: 3px solid var(--primary);
}

.avatar-name span {
    color: var(--primary);
    font-size: 18px;
}

.f-star i {
    color: var(--primary);
    font-size: 24px;
}
/* Start Feedback Section */
/* End Main Element Style */





/* Start Footer Element Style */

/* End Footer Element Style */