/* * {
    margin: 0;
    padding: 0;
} */

body {
    background-color: rgb(229, 184, 239);
}

#heading-element {
    background-color: purple;
    padding-bottom: 50px;
}

#paragraph-container {
    background-color: chocolate;
}

#description-container {
    background-color: burlywood;
}

#html-formatting {
    background-color: deepskyblue;
}

#html-quotations {
    background-color: greenyellow;
}

#btn {
    color: white;
    background-color: green;
    text-align: center;
    margin: 0 0 0 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
}

#btn:hover {
    color: green;
    background-color: white;
}