* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

body {
    background-color:grey;
}

#navbar ul {
    display: flex;
    margin: 50px 600px;
}

#navbar ul li a {
    color: black;
    margin-left: 10px;
    font-weight: bold;
    background-color: beige;
    padding: 10px 20px;
    border-radius: 3px;
}

#navbar ul li a:hover {
    color: beige;
    background-color: black;
}

.card {
    width: 300px;
    height: 420px;
    background-color: beige;
    border-radius: 10px;
    margin-left: 42%;
    margin-top: 10%;
}

.card:hover {
    background-color: bisque;
}

.card .img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card .card-content {
    text-align: center;
}

.card .card-content h4 {
    margin: 5px 0;
    margin-bottom: 15px;
    font-size: 19px;
}

.card .card-content .links a {
    margin-top: 10px;
    border: 1px solid black;
    font-size: 17px;
    padding: 5px 10px;
    border-radius: 50%;
}

.card .card-content .links a:hover {
    color: beige;
    background-color: black;
}

.outer-card {
    width: 300px;
    height: 100px;
    background-color: beige;
    border-radius: 10px;
    margin-left: 42%;
    margin-top: 10%;
    padding-top: 4%;
    text-align: center;
    font-size: 25px;
}

.outer-card:hover {
    background-color: bisque;
}