* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #c9d1d0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 340px;
    padding: 20px;
    background: #c9d1d0;
    border: 10px solid #e8edeb;
    border-radius: 50px;
    position: relative;
}

.social-links {
    position: absolute;
    top: 0;
    left: 90px;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    display: flex;
    gap: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.card:hover .social-links {
    top: 50px;
    visibility: visible;
    opacity: 1;
}

.image-box {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.content {
    margin-top: 20px;
}

.content h2 {
    font-size: 22px;
    font-weight: 600;
    color: #111;
    display: flex;
    align-items: center;
    gap: 8px;
}

.verified {
    background: #16a34a;
    color: white;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 50%;
}

.description {
    margin-top: 12px;
    color: #555;
    font-size: 14px;
    line-height: 1.6;
}

.stats {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    color: #333;
    font-weight: 500;
}

.stat {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
}

.follow-btn {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background: #e6ebef;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.follow-btn:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.126);
}