.container-bg {
    margin-top: 50px;
    width: 60%;
    height: 60%;
    position: relative;
}

.img {
    width: 40%;
    margin: 0 auto;
    background-color: red;
}

.img img {
    width: 100%;
    
}

/*.container-bg .img img {
    width: 100%;
    background-color: rgb(116, 111, 111);
}*/

.container-bg .content {
    padding: 20px;
    position: absolute;
    top: 93%;
    left: 40%;
    background-color: gray;
}

.content .icons {
    color: rgb(255, 4, 4);
}