:root {
    --primary-color: #fff;
    --special-color: #f97316;
    --special-color2: #ea580c;
    --special-color3: #99a1af;
    --special-color4: #d1d5dc;
    --primary-bg-color: #131a23;
    --secondary-bg-color: #030712;
    --special-bg-color: #a9a9a96d;
    --special-bg-color2: #45444470;
    --special-bg-color3: #ea5a0c2b;
    --primary-font: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font);
}

header .nav-container {
    background-color: var(--secondary-bg-color);
    border-bottom: 1px solid var(--special-bg-color);
}

.width-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;
    padding: 25px 0;
}

.width-container .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.width-container .logo img {
    background-color: var(--special-color);
    padding: 10px;
    border-radius: 10px;
}

.width-container .logo span {
    font-weight: 900;
    font-size: 18px;
}

.nav-links ul {
    display: flex;
    gap: 28px;
}

.nav-links ul li a {
    color: var(--special-color4);
    font-size: 14px;
    font-weight: 500;
}

.nav-links ul li a:hover {
    color: var(--special-color2);
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-icons img {
    width: 20%;
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
}

.nav-icons img:hover {
    background-color: var(--special-bg-color2);
}

.nav-icons .sm-cursor {
    cursor: pointer;
}

header .main-container {
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    margin: 8% auto;
}

.left-descriptions {
    max-width: 100%;
}

.left-descriptions .new-collection {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--special-color);
    background-color: var(--special-bg-color3);
    font-size: 14px;
    font-weight: 500;
    width: 200px;
    justify-content: center;
    border-radius: 10px;
    padding: 3px;
}

.left-descriptions h1 {
    font-size: 70px;
    font-weight: 800;
    margin: 15px 0;
}

.left-descriptions h1 .make-color {
    color: var(--special-color);
}

.left-descriptions p {
    font-size: 20px;
    color: var(--special-color3);
}

.left-descriptions .left-des-links {
    margin: 50px 0;
    display: flex;
    gap: 15px;
}

.left-descriptions .left-des-links a {
    color: var(--primary-color);
    padding: 18px 35px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 17px;
}

.left-descriptions .left-des-links .link1 {
    background-color: var(--special-color2);
}

.left-descriptions .left-des-links .link1:hover {
    box-shadow: 0px 20px 30px var(--special-bg-color2);
}

.left-descriptions .left-des-links .link2 {
    border: 2px solid var(--special-color3);
}

.left-descriptions .left-des-links .link2:hover {
    border: 2px solid var(--primary-color);
    background-color: var(--special-bg-color2);
}

.right-container {
    max-width: 50%;
}

.right-container img {
    width: 100%;
}