:root {
    --primary-color: #fff;
    --secondary-color: #00001f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-family: "Poppins", sans-serif;
}

main {
    max-width: 1400px;
    margin: 0 auto;
}

main .skills-section {
    padding: 70px 0;
}

main .skills-section .skills-header h1 {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

main .skills-section .skills-header h1 .heading-background {
    background: linear-gradient(101.95deg, rgb(255, 167, 18) 1.12%, rgb(180, 28, 221) 63.09%, rgb(255, 88, 152) 131.32%);
    color: var(--primary-color);
    box-shadow: #00000040 0px 4px 12px;
    border-radius: 100px;
    padding: 5px 20px;
}

.card-container {
    margin: 30px 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.card-container .card {
    padding: 24px;
    border-radius: 20px;
    flex-basis: 25%;
    flex-grow: 0;
    max-width: 22%;
    margin: 15px;
    transition: ease .5s;
}

.card-container .card:nth-child(1) {
    background-color: #f7e6e1;
    border-right: 4px solid #f84c18;
}

.card-container .card:nth-child(1):hover {
    background-color: #f8d6cc;
    border-right: 10px solid #f84c18;
}

.card-container .card:nth-child(2) {
    background-color: #e6f3fa;
    border-right: 4px solid #1fa7f1;
}

.card-container .card:nth-child(2):hover {
    background-color: #cae4f2;
    border-right: 10px solid #1fa7f1;
}

.card-container .card:nth-child(3) {
    background-color: #fcf7d7;
    border-right: 4px solid #f3d619;
}

.card-container .card:nth-child(3):hover {
    background-color: #f9f1bd;
    border-right: 10px solid #f3d619;
}

.card-container .card:nth-child(4) {
    background-color: #e6f9fc;
    border-right: 4px solid #18d5f1;
}

.card-container .card:nth-child(4):hover {
    background-color: #cdf4f9;
    border-right: 10px solid #18d5f1;
}

.card-container .card:nth-child(5) {
    background-color: #e4f5e1;
    border-right: 4px solid #3df61c;
}

.card-container .card:nth-child(5):hover {
    background-color: #cff5c8;
    border-right: 10px solid #3df61c;
}

.card-container .card:nth-child(6) {
    background-color: #fcf7d7;
    border-right: 4px solid #f3d619;
}

.card-container .card:nth-child(6):hover {
    background-color: #fbf3bf;
    border-right: 10px solid #f3d619;
}

.card-container .card:nth-child(7) {
    background-color: #e6f3fa;
    border-right: 4px solid #1fa7f1;
}

.card-container .card:nth-child(7):hover {
    background-color: #c9e9fa;
    border-right: 10px solid #1fa7f1;
}

.card-container .card:nth-child(8) {
    background-color: #e8f7e1;
    border-right: 4px solid #5af413;
}

.card-container .card:nth-child(8):hover {
    background-color: #d8f6ca;
    border-right: 10px solid #5af413;
}

.card-container .card:nth-child(9) {
    background-color: #f0f0f0;
    border-right: 4px solid #f42222;
}

.card-container .card:nth-child(9):hover {
    background-color: #f6d0d0;
    border-right: 10px solid #f42222;
}

.card-container .card:nth-child(10) {
    background-color: #e6e6fa;
    border-right: 4px solid #1717f3;
}

.card-container .card:nth-child(10):hover {
    background-color: #c8c8f7;
    border-right: 10px solid #1717f3;
}

.card-container .card img {
    width: 60px;
    height: 60px;
    color: transparent;
    object-fit: contain;
    aspect-ratio: auto 60 / 60;
}

.card-container .card h1 {
    font-size: 32px;
    font-weight: 600;
    color: #262c33;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card-container .card p {
    font-size: 16px;
    font-weight: 400;
    color: #4b5563;
}

main .skills-section .btn {
    text-align: center;
    margin-top: 40px;
}

main .skills-section .btn a {
    color: var(--primary-color);
    background: linear-gradient(263.72deg, rgb(255, 162, 5) 5.37%, rgb(255, 88, 152) 48.9%, rgb(180, 28, 221) 99.03%);
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    padding: 12px 24px;
    transition: all ease .5s;
}

main .skills-section .btn a:hover {
    color: var(--secondary-color);
}