:root {
    --primary-color: #2A3855;
    --secondary-color: #fdd428;
}

* {
    margin: 0;
    padding: 0;
}

.background {
    background: var(--primary-color) url("./images/bg.jpg") no-repeat scroll center center / cover;
    height: 100vh;
    width: 100vw;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 30vh;
}

.container h1 {
    font-size: 60px;
    color: var(--primary-color);
}

.container p {
    font-size: 30px;
    color: var(--primary-color);
    padding: 28px 0;
}

.container .btn a {
    background-color: red;
    text-decoration: none;
    padding: 12px 40px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
}

.container .btn {
    display: flex;
    gap: 20px;
    margin-top: 16px;
}

.container .btn .btn-1 {
    color: white;
    background-color: var(--primary-color);
}

.container .btn .btn-2 {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}